<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Shopkey project">

	<test name="Shopkey Android App Test Results">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="shopkeytests.LoginTest"/>
			<class name="shopkeytests.AddProducts"/>	
		</classes>

	</test>

</suite>